.container-wrapper {
	padding: 0px 20px;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
}

.content-outline {
	padding: 20px;
	background-color: #fff;
	font-size: 2em;
}